.red_color_text{
    color: #ff0000;
}
.orange_color_text{
    color: #ff9000;
}
.yellow_color_text{
    color: #fff600;
}
.green_color_text{
    color: #5aff00;
}
.sky_blue_color_text{
    color: #00fff6;
}
.blue_color_text{
    color: #0018ff;
}
.violet_color_text{
    color: #8a00ff;
}

