@font-face {
    font-family: 'NerkoOne';
    src: url('../fonts/NerkoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    background-color: #ff009b;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #000;
    border: #ff009b 1px solid;
}

body P{
    color: #fff;
}


h1,
p{
    font-family: 'NerkoOne';
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #000;
    border-bottom: 5px solid #ff009b;
    position: fixed;
    width: 80vw;
    top: 0;
    left: 20vw;
    z-index: 2;
}


.burger_and_h1{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.burger{
    width: 40px;
    height: 30px;
    display: none;
    margin: auto 0;
    position: relative;
}
.burger span{
    position: absolute;
    left: 0;
    width: 40px;
    height: 5px;
    background-color: #ff009b;
}

.span_1{
    top: 0;
}
.span_2{
    top: 12px;
}
.span_3{
    top: 25px;
}

.burger_open .span_1{
    top: 15px;
    transform: rotate(45deg);
}
.burger_open .span_2{
    display: none;
}
.burger_open .span_3{
    top: 15px;
    transform: rotate(-45deg);
}


.h1_in_header{
    color: #ff009b;
    padding: 0;
    margin: auto 0;
    padding-left: 50px;
    font-size: 40px;
    font-weight: normal;
}
.balance_and_profile_photo_in_header_div{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.balance_p_in_header{
    color: #ff009b;
    margin: auto 0;
    padding-right: 50px;
    font-size: 30px;
}
.profile_img_in_header{
    width: 70px;
    height: 70px;
}

.aside_menu{
    background-color: #000;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    border-right: 5px solid #ff009b;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.logo_div_in_aside_menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 5px solid #ff009b;
}
.logo_div_in_aside_menu img{
    width: 50%;
}
.profile_button_in_aside_menu{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px;
    border-bottom: 5px solid #ff009b;
}
.profile_button_in_aside_menu img{
    width: 40%;
}
.name_in_profile_button{
    font-size: 30px;
    text-decoration: underline;
    margin: 0;
    margin-bottom: 10px;
}
.email_in_profile_button{
    font-size: 20px;
    margin: 0;
}
.name_and_email_div_in_profile_button{
    padding-right: 30px;
    padding-left: 10px;
}

.normal_buttons_in_aside_menu a{
    text-decoration: none;
    color: #00b5b5;
}
.normal_buttons_in_aside_menu p{
    color: #00b5b5;
}
.normal_buttons_in_aside_menu a:hover div{
    background-color: #660160;
}
.normal_buttons_in_aside_menu div{
    border-bottom: 5px solid #ff009b;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-right: 30px;
    font-size: 40px;        
}

.normal_buttons_in_aside_menu p{
    margin: 0;
}


.wrapper{
    padding-left: calc(20vw + 80px);
    padding-top: 130px;
    padding-right: 180px;
    text-align: center;
}

.who_are_we_text{
    color: #fff;
    font-size: 41px;
}
.bold_text_span{
    font-weight: bold;
}
.underlined_text_span{
    text-decoration: underline;
}


.image_in_main_page{
    width: 45vw;
    height: 280px;
    padding-bottom: 50px;
}


.aside_menu::-webkit-scrollbar{
    background-color: #ff009b;
    width: 10px;
}
.aside_menu::-webkit-scrollbar-thumb{
    background-color: #000;
    border: #ff009b 1px solid;
}


.aside_menu_open{
    display: block !important;
    top: 95px;
    left: 0;
    width: 30vw;
    height: calc(100vh - 95px);
}

.coming_soon_text{
    color: #fff;
    text-align: left;
    font-size: 40px;
}

.aside_div_for_scroll{
    padding-bottom: 50px;
}



.s_g_f_text_in_about_page{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 100px;
}
.s_g_f_text_in_about_page p{
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.sponsor_in_about_page{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.sponsor_in_about_page p{
    font-size: 40px;
}
.sponsor_in_about_page img{
    width: 200px;
    margin: 50px;
}

.sponsor_in_about_page .sponsor_komish_text{
    font-size: 60px;
}

.br_in_about_for_adaptive{
    display: none;
}

.anonymous_tg_link_in_about{
    color: #fff;
    text-decoration: underline;
}

.anonymous_tg_link_in_about:hover{
    color: #00b5b5;
}



.div_with_all_photos{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: start;
}

.div_with_all_photos img{
    width: calc(50% - 20px);
    height: fit-content;
    margin: 10px;
}

.text_in_games_page,
.text_in_photos_page,
.main_text_in_vid_page,
.text_in_music_page,
.text_in_merch_page{
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}

.video_on_video_page{
    height: auto;
    width: 400px;
    margin-right: 50px;
}

.video_wrapper{
    text-align: left;
    padding-bottom: 50px;
}
.video_and_desc_div{
    display: flex;
    justify-content: start;
    border-top: #ff009b 1px solid;
    padding: 10px 0;
}
.video_and_desc_div p{
    margin: 0;
}
.video_title{
    font-size: 30px;
    padding-bottom: 10px;
}
.video_desc{
    font-size: 20px;
}
.video_date{
    font-size: 20px;
    padding-bottom: 20px;
}

.description_video_text_div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.div_with_all_games{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: start;
}

.back_button_svg{
    width: 50px;
    margin-left: -50px;
}

.game_card{
    border: #fff 1px solid;
    padding-top: 20px;
    width: 250px;
    margin: 10px;
    text-decoration: none;
}
.game_logo_in_game_card{
    width: 80%;
}
.game_name_in_game_card{
    font-size: 25px;
    padding: 0 5px;
}
.game_card:hover{
    background-color: #660160;
}


.game_info_page_wrapper{
    text-align: left;
    padding-bottom: 50px;
}


.game_title{
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
}


.logo_developer_size_div{
    display: flex;
    justify-content: start;
}

.developer_and_size_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.game_logo{
    width: 100px;
    height: 100px;
}
.developer_p{
    font-size: 20px;
    margin: 10px 0;
}
.size_p{
    font-size: 25px;
    margin: 0;
}
.install_p,
.screenshots_p,
.description_p,
.need_help{
    font-size: 40px;
}
.game_is_not_available_to_install_p{
    font-size: 25px;
    color: #f00;
    padding-left: 20px;
}

.div_with_screenshots{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.div_with_screenshots video,
.div_with_screenshots img{
    display: inline-block;
    min-width: 300px;
    margin: 0 10px;
    padding-bottom: 5px;
}
.div_with_screenshots::-webkit-scrollbar{
    background-color: #ff009b;
    height: 5px;
}
.div_with_screenshots::-webkit-scrollbar-thumb{
    background-color: #000;
    border: #ff009b 1px solid;
}
.description_text,
.need_help_text{
    font-size: 25px;
    padding-left: 20px;
}
.need_help_text a{
    color: #fff;
}
.need_help_text a:hover{
    color: #ff009b;
}
.div_with_install_buttons{
    padding-left: 20px;
}
.install_a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 5px;
}
.install_a:hover{
    text-decoration: underline;
}
.install_a p{
    color: #000;
    margin: 5px;
    font-size: 20px;
}
.install_btn_div{
    display: flex;
    background-color: #0F0;
    justify-content: start;
    padding: 0 10px;
    border-radius: 2px;
}
.div_with_all_photos_authors{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.author_card{
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: #333;
    border: #fff 1px solid;
    text-decoration: none;
    text-align: center;
}
.author_card:hover{
    background-color: #660160;
}
.author_card_name{
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.photos_page_wrapper{
    text-align: left;
}

.photos_author_text_on_page{
    margin-top: 0;
}
.panel_with_music{
    display: flex;
    justify-content: start;
    border-top: #ff009b 1px solid;
    padding: 10px 0;
    text-align-last: left;
}
.panel_with_music audio{
    width: 300px;
    height: 50px;
    padding-right: 50px;
}
.panel_with_music p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: left;
}



























@media screen and (max-width: 1350px){
    .game_card{
        width: 30%;
    }
    .game_name_in_game_card{
        font-size: 20px;
    }
}



@media screen and (max-width: 1340px){
    .email_in_profile_button{
        font-size: 15px;
    }
}

@media screen and (max-width: 1115px){
    .normal_buttons_in_aside_menu div{
        font-size: 35px;
    }
    .panel_with_music p{
        font-size: 15px;
    }
}


@media screen and (max-width: 1170px){
    .wrapper{
        padding-right: 90px;
    }
    .who_are_we_text{
        font-size: 35px;
    }
}

@media screen and (max-width: 1040px){
    .game_card{
        width: 25%;
    }
    .game_name_in_game_card{
        font-size: 10px;
    }
}



@media screen and (max-width: 1030px){
    .normal_buttons_in_aside_menu div{
        font-size: 33px;
    }
    .name_in_profile_button{
        font-size: 20px;
    }
    .email_in_profile_button{
        font-size: 11px;
    }
    .main_text_in_vid_page{
        font-size: 20px;
    }
    .video_title{
        font-size: 25px;
        padding-top: 10px;
    }
    .video_desc{
        font-size: 15px;
        padding-bottom: 10px;
    }
    .video_date{
        font-size: 15px;
    }
    .video_and_desc_div,
    .panel_with_music{
        flex-direction: column;
    }
    .panel_with_music audio{
        margin-bottom: 15px;
    }
    .panel_with_music p{
        font-size: 20px;
    }


}
@media screen and (max-width: 930px){
    .normal_buttons_in_aside_menu div{
        font-size: 25px;
    }
    .image_in_main_page{
        height: 200px;
    }
    .s_g_f_text_in_about_page p{
        font-size: 30px;
    }
    .sponsor_in_about_page p{
        font-size: 30px;
    }
    .sponsor_in_about_page .sponsor_komish_text{
        font-size: 40px;
    }
    .sponsor_in_about_page img{
        width: 150px;
    }
}
@media screen and (max-width: 790px){
    .header{
        width: 100vw;
        left: 0;
    }
    .aside_menu{
        display: none;
    }
    .header{
        padding-left: 20px;
    }
    .h1_in_header{
        padding-left: 20px;
    }
    .burger{
        display: block;
    }
    .balance_and_profile_photo_in_header_div{
        padding-right: 40px;
    }
    .wrapper{
        padding-right: 50px;
        padding-left: 50px;
    }
    .who_are_we_text{
        font-size: 35px;
    }
    .back_button_svg{
        width: 50px;
        margin-left: -25px;
    }
}

@media screen and (max-width: 640px){
    .balance_and_profile_photo_in_header_div{
        display: none;
    }
    .header{
        display: block;
    }
    .h1_in_header{
        padding-right: 40px;
    }
    .image_in_main_page{
        width: 100%;
    }
    .aside_menu_open{
        top: 75px;
        width: 40vw;
        height: calc(100vh - 75px);
    }
    .back_button_svg{
        width: 40px;
    }
    .game_title{
        font-size: 30px;
    }
    .install_p,
    .screenshots_p,
    .description_p,
    .need_help {
        font-size: 30px;
    }
    .game_is_not_available_to_install_p{
        font-size: 20px;
    }
    .description_text,
    .need_help_text{
        font-size: 20px;
    }
}
@media screen and (max-width: 520px){
    .author_card{
        width: 100%;
    }
}
@media screen and (max-width: 470px){
    .who_are_we_text{
        font-size: 25px;
    }
    .aside_menu_open{
        top: 75px;
        width: 100vw;
        height: calc(100vh - 75px);
    }
    .logo_div_in_aside_menu img{
        width: 30%;
    }
    .logo_div_in_aside_menu{
        justify-content: space-around;
    }
    .profile_button_in_aside_menu img{
        width: 30%;
    }
    .profile_button_in_aside_menu{
        justify-content: space-around
    }
}

@media screen and (min-width: 792px){
    .aside_menu_open {
        display: block !important;
        top: 0;
        left: 0;
        width: 20vw;
        height: 100vh;
    }
}



@media screen and (max-width: 550px){
    .br_in_about_for_adaptive{
        display: block;
    }
    .sponsor_in_about_page{
        flex-wrap: wrap;
    }
    .komish_logo_div_in_sponsor{
        margin: 0 auto;
    }
    .sponsor_in_about_page img{
        margin: 50px 0;
    }
    .video_on_video_page{
        margin: 0;
        width: 100%;
    }
}




@media screen and (max-width: 500px){
    .text_in_games_page,
    .text_in_photos_page{
        font-size: 20px;
    }
    .div_with_all_photos{
        justify-content: center;
    }
    .div_with_all_photos img{
        margin-right: 11px;
        margin-left: 11px;
        width: 100%;
    }
    .game_card{
        width: 40%;
    }
    .game_name_in_game_card{
        font-size: 15px;
    }
    .div_with_screenshots video,
    .div_with_screenshots img{
        min-width: 200px;
    }
}

@media screen and (max-width: 400px){
    .game_title{
        font-size: 25px;
    }
    .game_logo{
        height: 80px;
        width: 80px;
        margin-top: auto;
    }
    .developer_p{
        font-size: 15px;
    }
    .size_p{
        font-size: 20px;
    }
    .install_p,
    .screenshots_p,
    .description_p,
    .need_help {
        font-size: 25px;
    }
    .game_is_not_available_to_install_p{
        font-size: 15px;
    }
    .description_text,
    .need_help_text{
        font-size: 15px;
    }
    .author_card_name{
        font-size: 20px;
    }
}


@media screen and (max-width: 319px){
    .game_card{
        width: 70%;
    }
    .game_name_in_game_card{
        font-size: 15px;
    }
}


@media screen and (max-width: 420px){
    .panel_with_music audio{
        width: 100%;
        height: 40px;
    }
    .panel_with_music p{
        font-size: 15px;
    }
}


